<div class="flex min-h-screen">

  <app-sidebar-left class="absolute lg:relative lg:block"></app-sidebar-left>

  <div class="flex-1 p-8 bg-gray-100 dark:bg-gray-900/50">
          <app-blog-card></app-blog-card>
          <app-blog-card></app-blog-card>
          <app-blog-card></app-blog-card>
          <app-blog-card></app-blog-card>
          <app-blog-card></app-blog-card>
          <app-blog-card></app-blog-card>
          <app-blog-card></app-blog-card>
          <app-blog-card></app-blog-card>
          <app-blog-card></app-blog-card>
          <app-blog-card></app-blog-card>
          <app-blog-card></app-blog-card>
          <app-blog-card></app-blog-card>
          <app-blog-card></app-blog-card>
          <app-blog-card></app-blog-card>
          <app-blog-card></app-blog-card>
  </div>
  <app-sidebar-right class="hidden lg:block"></app-sidebar-right>
</div>
